<div class="wrapper">

  <aside class="sidebar">
    <div class="widget widget--sticky--first"><%= link_to "投稿一覧" , account_path(current_user) %></div>
    <div class="widget widget--sticky--second"><%= link_to "いいね一覧" , favorite_show_account_path(current_user.id) %></div>
  </aside>

  <main class="main">
    <div class="main_container">
      <div class="user_info">
        <h1 class="page_user_name">ユーザー情報編集</h1>
        <div class="edit_container">
          <% unless @user.id == 11 %>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="edit_field">
                <%= f.label :name %>
                <%= f.text_field :name, autofocus: true, class:"edit_form", placeholder:"新しい名前" %>
              </div>

              <div class="edit_field">
                <%= f.label :email %>
                <%= f.email_field :email, autocomplete: "email", class:"edit_form", placeholder:"新しいメールアドレス" %>
              </div>
          
              <div class="edit_field">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "new-password", class:"edit_form", placeholder:"新しいパスワード min:6" %>
              </div>
            
              <div class="edit_field">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"edit_form" %>
              </div>
            
              <div class="edit_field">
                <%= f.label :current_password %>
                <%= f.password_field :current_password, autocomplete: "current-password", class:"edit_form" %>
              </div>

              <div>
                  <%= f.label :image %>
                  <%= f.file_field :image, class:"edit_form" %>
              </div>
            
              <div class="actions">
                <%= f.submit "Update" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="user_image_container">
        <% if @user.image.attached? %>
          <%= image_tag @user.image, class:"user_image" %>
        <% else %>
          <%= image_tag 'icon.png', class:"user_image" %>
        <% end %>
      </div>
    </div>
    <div class="post_container">
      <h1 class="page_user_name">アカウント削除</h1>
      <%= button_to "アカウントを削除しますか？", registration_path(resource_name), data: { confirm: "本当に削除しますか？", turbo_confirm: "本当に削除しますか？" }, method: :delete %>
    </div>
  </main>

</div>
