<div class="wrapper">

  <aside class="sidebar">
    <div class="widget widget--sticky--first"></div>
    <div class="widget widget--sticky--second"></div>
  </aside>

  <main class="main">
    <div class="main_container">
      <div class="user_info">
        <h1 class="page_user_name">ユーザー情報編集</h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autocomplete: "email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
      
          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        
          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        
          <div class="field">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, autocomplete: "current-password" %>
          </div>
        
          <div class="actions">
            <%= f.submit "Update" %>
          </div>


        <% end %>
      </div>
      <div class="user_image_container">
        <img class="user_image" src="https://www.webtech.co.jp/blog/wp-content/uploads/2021/12/snowman01.webp"/>
      </div>
    </div>
    <div class="post_container">
      <h1 class="page_user_name">アカウント削除</h1>

      <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

      <%= link_to "Back", :back %>
    </div>
  </main>

</div>
