<div class="form-signin form_signin_custom">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="user_image_container_signup">
      <%= image_tag 'icon.png', class:"user_image" %>
    </div>

    <h1 class="h3 mb-3 font-weight-normal form-title-signup">サインアップ</h1>
    <%= f.text_field :name, autofocus: true, id:"inputEmail", class:"form-control registrations-input", placeholder:"Name" %>
    <%= f.email_field :email, autocomplete: "email", id:"inputEmail", class:"form-control registrations-input", placeholder:"Email address" %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password 最低6文字", id:"inputPassword", class:"form-control registrations-input" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", id:"inputPassword", class:"form-control registrations-input registrations-input-last", placeholder:"Confirm Password" %>
    <%= f.submit "Sign up", class:"btn btn-lg btn-primary btn-block" %>
  <% end %>
</div>
