<div class="form-signin form_signin_custom">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="user_image_container_signup">
      <%= image_tag 'icon.png', class:"user_image" %>
    </div>

    <h1 class="h3 mb-3 font-weight-normal form-title-signup">パスワード再設定</h1>
    <%= f.email_field :email, autocomplete: "email", id:"inputEmail", class:"form-control password-reset-input", placeholder:"Email address" %>

    <%= f.submit "再設定メールを送信", class:"btn btn-lg btn-warning btn-block" %>

  <% end %>
</div>

<div class="login_sub_links">
  <%= render "devise/shared/links" %>
</div>
