<div class="post_show_wallpaper">

  <div id='map'></div>

  <div class="post_edit_form_container">
      <h3>投稿編集</h3>
      <%= form_with model: @post, local: true do |f| %>

        <%= render 'layouts/error_messages', model: f.object %>

        <p>エリア<br>
        <%= f.text_field :title, id:"address"  %>
        <input type="button" value="検索" onclick="codeAddress()">
        </p>
        
        <p>メモ<br>
        <%= f.text_area :body %> 
        </p>

        <p>遊べる人数(約)<br>
        <%= f.text_area :count %>
        </p>

        <p>費用感(一人当たり)<br>
        <%= f.text_area :price %>
        </p>

        <p>できること<br>
        <%= f.text_area :play %>
        </p>

        <p>住所<br>
        <%= f.text_area :address, id:"address_field" %>
        </p>
        
        <p><%= f.submit %>
        </p>
        
      <% end %>
  </div>

</div>

<script>
  let map

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @latLng[0]%>, lng:<%= @latLng[1]%>},
      zoom: 13,
    });

    marker = new google.maps.Marker({
      position:  {lat: <%= @latLng[0]%>, lng:<%= @latLng[1]%>},
      map: map
    });

    google.maps.event.addListener(map, 'click', mylistener);

    function mylistener(event){
      var marker = new google.maps.Marker();
      marker.setPosition(new google.maps.LatLng(event.latLng.lat(), event.latLng.lng()));
      marker.setMap(map);
      geocoder.geocode({ location: event.latLng }).then((response) =>{ 
        document.getElementById('address_field').innerHTML = response.results[0].formatted_address;
      });
    }

  }

  function codeAddress(){
      var address = document.getElementById('address').value;
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
          document.getElementById('address_field').innerHTML = results[0].formatted_address;
        } else {
          alert('スポットが見つかりませんでした');
        }
      });
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_api_key %>&callback=initMap" async defer></script>
