<div class="post_show_wallpaper">

  <div><%= @user.name %></div>
  <div><%= @post.title %></div>
  <div><%= @post.address %></div>
  <div>(約)<%= @post.count %>人</div>
  <div>(約)<%= @post.price %>円</div>
  <div><%= @post.play %></div>
  <div id='map'></div>

  <ul class="post_action">
    <% unless current_user.nil? %>
      <% if @user.id == current_user.id %>
        <li><%= link_to "編集", edit_post_path(@post.id), class:"btn btn-outline-primary", data: { turbo: false } %></li>
        <li><%= link_to "削除", post_path(@post.id), class:"btn btn-outline-primary", data: { confirm: "本当に削除しますか？", turbo_confirm: "本当に削除しますか？" }, method: :delete %></li>
      <% end %>
    <% end %>
    <li><%= link_to "戻る", new_post_path, class:"btn btn-outline-secondary", data: { turbo: false } %></li>
  </ul>
</div>

<script>
  let map

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @latLng[0]%>, lng:<%= @latLng[1]%>},
      zoom: 13,
    });

    marker = new google.maps.Marker({
      position:  {lat: <%= @latLng[0]%>, lng:<%= @latLng[1]%>},
      map: map
    });

  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_api_key %>&callback=initMap" async defer></script>
