<div class="post_show_wallpaper">
  <div class="post_show_info">
    <div><%= @user.name %></div>
    <div><%= @post.title %></div>
    <div><%= @post.address %></div>
    <div>(約)<%= @post.count %>人</div>
    <div>(約)<%= @post.price %>円</div>
    <div><%= @post.play %></div>
    <ul class="tag_list">
      <% @post.tags.each do |tag| %>
        <li class="tag_item">#<%= tag.name %></li>
      <% end %>
    </ul>
    <div id='map'></div>
  </div>

  <ul class="post_action">
    <% unless current_user.nil? %>
      <% if @user.id == current_user.id %>
        <li><%= link_to "編集", edit_post_path(@post.id), class:"btn btn-outline-primary", data: { turbo: false } %></li>
        <li><%= link_to "削除", post_path(@post.id), class:"btn btn-outline-primary", data: { confirm: "本当に削除しますか？", turbo_confirm: "本当に削除しますか？" }, method: :delete %></li>
      <% end %>
    <% end %>
    <li><%= link_to "戻る", new_post_path, class:"btn btn-outline-secondary", data: { turbo: false } %></li>
  </ul>
</div>

<div class="comment_wallpaper">
  <div class="comment_container">
    <div class="comment_body">
      <div class="comment_form">
        <%= form_with model:[@post, @comment], local: true, data: { turbo: false } do |f| %>
          <%= f.text_field :content, rows:'5', placeholder: "コメントしてみましょう！(※コメントにはログインが必要です)"  %>
          <%= f.submit "投稿" %>
        <% end %>
      </div>
      <% @post_comments.each do |comment| %>
        <div class="comment_post">
          <div class="comment_left">
            <div class="left_left">
              <% if comment.user.image.attached? %>
                <%= image_tag comment.user.image, class:"user_image_post_icon" %>
              <% else %>
                <%= image_tag 'icon.png', class:"user_image_post_icon" %>
              <% end %>
              <div><%= comment.user.name %></div>
            </div>
            <div class="comment_content"><%= comment.content %></div>
          </div>
          <div class="comment_right">
            <% if comment.user.id == current_user.id %>
              <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, local: true, data: { turbo: false, confirm: "本当に削除しますか？" } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  let map

  function initMap(){
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @latLng[0]%>, lng:<%= @latLng[1]%>},
      zoom: 13,
    });

    marker = new google.maps.Marker({
      position:  {lat: <%= @latLng[0]%>, lng:<%= @latLng[1]%>},
      map: map
    });

  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_api_key %>&callback=initMap" async defer></script>
