<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to "幹事サポート", root_path, class:"title_link" %></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <%= link_to "使い方", homes_how_to_use_the_app_path, class:"text-dark" %>
        <% if user_signed_in? %>
          <%= link_to "マイページ", account_path(current_user), class:"p-2 text-dark" %>
        <% end %>
      </nav>
      <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-outline-primary" %>
      <% else %>
          <%= link_to "サインアップ", new_user_registration_path, class:"btn btn-outline-primary" %>
          <%= link_to "ログイン", new_user_session_path, class:"btn btn-outline-primary btn-header-custom" %>
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:"btn btn-outline-primary btn-header-custom" %>
      <% end %>
    </div>
    <div class="flash-notifications">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: key) %>
      <% end %>
    </div>
    <%= yield %>
    <footer class="text-muted footer-custom">
      <div class="container">
        <p class="float-right">
          <%= link_to "トップに戻る", root_path %>
        </p>
        <h5>幹事サポート</h5>
        <%= link_to "プライバシーポリシー", homes_privacy_policy_path %></br>
        <%= link_to "利用規約", homes_terms_of_service_path %>
      </div>
    </footer>
  </body>
</html>
