<div class="wrapper">

  <aside class="sidebar">
    <div class="widget widget--sticky--first"><%= link_to "投稿一覧" , account_path(@user.id), class:"widget_1" %><br></div>
    <div class="widget widget--sticky--second"><%= link_to "いいね一覧" , favorite_show_account_path(@user.id) , class:"widget_1" %><br></div>
    <div class="widget widget--sticky--third"><p class="widget_1">コメント一覧<p></div>
  </aside>

  <main class="main">
    <div class="main_container">
      <div class="user_info">
        <% if user_signed_in? && @user == current_user %>
          <h1 class="page_user_name"><%= @user.name %>のマイページ</h1>
          <h3 class="page_user_address">アドレス：<%= @user.email %></h3>
          <%= link_to "編集ページへ",  edit_user_registration_path(@user) %><br/>
        <% else %>
          <h1 class="page_user_name"><%= @user.name %>のページ</h1>
        <% end %>
      </div>
      <div class="user_image_container">
        <% if @user.image.attached? %>
          <%= image_tag @user.image, class:"user_image" %>
        <% else %>
          <%= image_tag 'icon.png', class:"user_image" %>
        <% end %>
      </div>
    </div>
    <div class="post_container">
      <h3>コメント一覧</h3>
      <% @comments.each do |p| %>
          <div class="post">
            <div class="post_contents">
              <div class="post_contents_left">
                <div><%= p.content %></div>
                <div class="comment_content"><%= link_to p.post.title, post_path(p.post.id), data: { turbo: false } %></div>
              </div>
              <div class="post_contents_right">
                <div><%= p.created_at.strftime("%Y年%m月%d日") %></div>
              </div>
            </div>
          </div>
      <% end %>
      <%= paginate @comments %>
    </div>
  </main>

</div>
