<div class="wrapper">

  <aside class="sidebar">
    <div class="widget widget--sticky--first"><p class="widget_1">投稿一覧<p></div>
    <div class="widget widget--sticky--second"><%= link_to "いいね一覧" , favorite_show_account_path(@user.id) , class:"widget_1" %></div>
    <div class="widget widget--sticky--third"><%= link_to "コメント一覧" , comment_account_path(@user.id) , class:"widget_1" %></div>
  </aside>

  <main class="main">
    <div class="main_container">
      <div class="user_info">
        <% if user_signed_in? && @user == current_user %>
          <h1 class="page_user_name"><%= @user.name %>のマイページ</h1>
          <h3 class="page_user_address">アドレス：<%= @user.email %></h3>
          <%= link_to "編集ページへ",  edit_user_registration_path(@user) %><br/>
        <% else %>
          <h1 class="page_user_name"><%= @user.name %>のページ</h1>
        <% end %>
      </div>
      <div class="user_image_container">
        <% if @user.image.attached? %>
          <%= image_tag @user.image, class:"user_image" %>
        <% else %>
          <%= image_tag 'icon.png', class:"user_image" %>
        <% end %>
      </div>
    </div>
    <div class="post_container">
      <h3>投稿一覧</h3>
      <% @posts.each do |p| %>
          <div class="post">
            <div class="post_contents">
              <div class="post_contents_left">
                <div><%= link_to p.user.name, account_path(p.user.id) %></div>
                <div><%= link_to p.title, post_path(p.id), data: { turbo: false } %></div>
                <div><%= p.body %></div>
                <div><%= p.address %></div>
                <% if p.favorited?(current_user) %>
                  <%= link_to post_favorites_path(p.id), method: :delete do %>
                    <span style="color:red;">❤︎</span><span class="favorite_count"><%= p.favorite_count(p) %></span>
                  <% end %>
                <% else %>
                  <%= link_to post_favorites_path(p.id), method: :post do %>
                    <span>❤︎</span><span class="favorite_count"><%= p.favorite_count(p) %></span>
                  <% end %>
                <% end %>
              </div>
              <div class="post_contents_right">
                <div><%= p.created_at.strftime("%Y年%m月%d日") %></div>
                <% unless current_user.nil? %>
                  <% if @user.id == current_user.id %>
                    <div><%= link_to "削除する", post_path(p.id), data: { confirm: "本当に削除しますか？", turbo_confirm: "本当に削除しますか？" }, method: :delete %></div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
      <%= paginate @posts %>
    </div>
  </main>

</div>
